@model IEnumerable<Agenda.Models.ContatoTelEmail>

@{
    ViewBag.Title = "Agenda de Contatos";
}

<h2>Telefones / E-mail - Contato</h2>
<br />
<p>
    @Html.ActionLink("Novo Contato", "Create", "", htmlAttributes: new { @class = "btn btn-success" })
</p>
@using (Html.BeginForm())
{
    <p>
        Nome do Contato: @Html.TextBox("SearchString")
        <input type="submit" class="btn btn-default" value="Pesquisar" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            Nome Contato
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contato.Nome_Contato)
            </td>
            <td>
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-primary" })
                @Html.ActionLink("Editar Contato", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-primary" })
                @Html.ActionLink("Deletar Contato", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
